# Backup files
*.backup
*.bak
*~

# System files
.DS_Store
Thumbs.db
.idea/

# Logs
*.log

# Editor temp files
.vscode/
.sublime-project
.sublime-workspace

# Dependencies (если будешь использовать Node.js)
node_modules/
package-lock.json
